.header {
    height: 550px;
}

.servicio {
    margin: 70px 0;
}

.servicio-content {
    margin-top: -100px;
    gap: 10px;
}

.servicio-content__texto h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
}

.servicio-content img {
    width: 450px;
}

.servicio-content__texto {
    padding-top: 100px;
}

.unete-content {
    padding: 0 20px;
}

.unete-content__texto h3::after {
    width: 0;
    height: 0;
}

.app-texto {
    width: 500px;
    margin-left: 530px;
    padding-top: 280px;
}

.app-texto img {
    width: 210px;
    height: 95px;
}

