.header-nav {
    flex-direction: column;
}

.header-texto{
    margin-top: 25px;
    margin-left: 10px;
}

.header-texto h1 {
    font-size: 25px;
}

.header-texto h3 {
    font-size: 12px;
}

.header-texto__btn a img {
    width: 25px;
    height: 25px;
}

.header-texto__btn a p {
    font-size: 15px;
}

.how-it-works {
    margin-top: -130px;
}

.app {
    height: 350px;
    margin-bottom: 40px;
}

.app-texto {
    margin-left: -120px;
    padding-top: 60px;
    position: relative;
}

.app-texto h2 {
    width: 150px;
}

.app-texto p {
    width: 140px;
}

.app-texto img {
    position: absolute;
    left: 230px;
}


/* Formulario */

.formulario form {
    width: 270px;
}