.header-nav {
    flex-direction: column;
}

.app {
    height: 350px;
    margin-bottom: 40px;
}

.app-texto {
    margin-left: -120px;
    padding-top: 60px;
    position: relative;
}

.app-texto h2 {
    width: 150px;
}

.app-texto p {
    width: 140px;
}

.app-texto img {
    position: absolute;
    left: 230px;
}


/* Formulario */

.formulario form {
    width: 270px;
}