/* Globales */

:root {
    --azul1: #247EDF;
    --azul2: #EDF5FB;
    --negro: #000;
    --blanco: #FFF;
    --gris: #D3D3D3;
    --gris2: #F0EFE9;
    --naranja: #DC9D6E;
    --verde: #b9fcfc50;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

/* Header */

.header {
    background-image: url("/assets/img/bg-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px;
    position: relative;
    background-color: var(--azul2);
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
}

.header-nav a {
    text-decoration: none;
    color: var(--negro);
    font-size: 18px;
    margin: 0 15px;
    transition: all 100ms;
}

.header-nav a:hover {
    color: var(--azul1);
    border-bottom: solid 2px var(--azul1);
}

.header-nav__descarga {
    background-color: var(--azul1);
    padding: 10px;
    border-radius: 5px;
    color: var(--blanco)!important;
    transition: all 300ms;
}

.header-nav__descarga:hover {
    border-bottom: none!important;
}



.header-texto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-texto h1 {
    font-size: 58px;
    font-weight: 500;
}

.header-texto h3 {
    font-size: 30px;
}

.header-texto__btn {
    background-color: var(--azul1);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.header-texto__btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-texto__btn a img {
    width: 40px;
    height: 40px;
}

.header-texto__btn a p {
    font-size: 25px;
    color: var(--blanco);
    margin: 0 20px;
}

/* How it works */

.how-it-works {
    background-color: var(--azul2);
    padding: 10px;
    margin-top: 20px;
}

.how-it-works h3 {
    text-align: center;
    font-size: 23px;
    color: var(--negro);
    padding: 10px;
}

.how-it-works__feats {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
}

.how-it-works__feats-content {
    display: grid;
    place-items: center;
    border: solid 2px var(--azul1);
    border-radius: 5px;
    padding: 15px;
    background-color: var(--blanco);
    box-shadow: 1px 2px 5px var(--gris);
}

.how-it-works__feats-content img {
    width: 100px;
    height: 100px;
}

.how-it-works__feats-content h4 {
    font-size: 20px;
}

/* Sección Servicio */

.servicio {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--gris);
}

.servicio h2{
    text-align: center;
    font-size: 38px;
}

.servicio-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: -100px;
}

.servicio-content img {
    width: 600px;
    height: 450px;
}

.servicio-content__texto {
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    margin-right: 150px;
    text-align: justify;
    line-height: 1.7;
}

.servicio-content__texto strong {
    font-weight: 700;
}

.servicio-content__texto h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
    position: relative;
}

.servicio-content__texto h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 135px;
    height: 5px;
    background-color: #DC9D6E;
}

.servicio-content__texto h3 span {
    color: var(--azul1);
}

.servicio-content__texto p {
    font-size: 20px;
    font-weight: 300;
}

/* Sección únete */

.unete {
    background-color: var(--azul2);
    padding: 10px;
}


.unete h2 {
    text-align: center;
    font-size: 38px;
}

.unete h2 span {
    color: var(--azul1);
}

.unete-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 140px;
    margin-bottom: 20px;
}

.unete-content__conductor {
    border-radius: 50%;
}

.unete-content__texto {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    line-height: 1.7;
}

.unete-content__texto h3 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
}

.unete-content__texto p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.unete-content__texto strong {
    font-weight: 700;
}

.unete-content__btn {
    background-color: var(--azul1);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.unete-content__btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.unete-content__btn a img {
    width: 40px;
    height: 40px;
}

.unete-content__btn p {
    font-size: 25px;
    color: var(--blanco);
    margin: 0 20px;
}

.unete-content img {
    width: 450px;
    height: 450px;
}

/* Sección App */

.app {
    background-image: url("/assets/img/slice-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.app-texto {
    display: flex;
    justify-content: flex-end;
    padding-top: 280px;
}

.app-texto h2 {
    font-size: 28px;
}

.app-texto p {
    font-weight: 300;
    line-height: 1.7;
    font-size: 20px;
}

.app-texto img {
    width: 250px;
    height: 95px;
}
/* Formulario */

.contacto {
    background-image: url("/assets/img/slice-5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 750px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    height: 550px;
    width: 700px;
    box-shadow: 1px 2px 5px var(--gris);
    border-radius: 5px;
    padding: 50px;
}

.formulario form h3 {
    text-align: center;
    color: var(--azul1);
    font-size: 38px;
    margin: 0;
}

.formulario form p {
    font-size: 18px;
    font-weight: 300;
}

.formulario form label {
    font-weight: 500;
    padding: 10px;
}

.formulario form input {
    padding: 7px;
}

.formulario form textarea {
    height: 200px;
    padding: 10px;
}

.formulario form button {
    background-color: var(--azul1);
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    color: var(--blanco);
    margin: 20px auto;
    font-weight: bold;
    width: fit-content;
}

.formulario form button:hover {
    cursor: pointer;
}

.formulario__succes {
    background-color: green;
    border-radius: 5px;
    display: none;
}

.formulario__succes p {
    text-align: center;
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
}

.header-contact {
    background-color: var(--azul2);
    width: 100%;
}

/* Footer */

footer {
    background-color: var(--azul2);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
