.header {
    background-position: right;
}

.header-texto {
    margin-top: 80px;
}

.header-texto h1 {
    font-size: 33px;
}

.header-texto h3 {
    font-size: 15px;
}

.how-it-works__feats {
    gap: 30px;
}

.how-it-works__feats-content h4 {
    text-align: center;
}


.servicio-content {
    grid-template-columns: repeat(1,1fr);
    margin-top: 0;
}
.servicio img{
    width: 100%;
}

.servicio-content__texto {
    padding: 0 20px;
    margin: 0 auto;
}

.servicio-content__texto h3 {
    text-align: center;
}

.unete-content {
    padding: 0 10px;
}

.unete-content__texto {
    padding: 10px;
}

.unete-content img {
    width: 350px;
    height: 350px;
}

.app {
    background-size: contain;
    height: 480px;
}

.app-texto {
    margin-left: 260px;
    padding-top: 170px;
}

.app-texto h2 {
    font-size: 18px;
}

.app-texto p {
    font-size: 15px;
}

.app-texto img {
    width: 180px;
    height: 75px;
}

/* Formulario */

.formulario form {
    width: 600px;
}